# Julia
Manifest.toml

# sysimages
*.so
*.dylib
*.dll

# plots/output
# *.png
*.pdf
*.jld2
*.log
LocalPreferences.toml

# Julia cache
.julia/
docs/build/

# VSCode
.vscode/
.DS_Store

# HPC outputs
out_relaxation/
err_relaxation/
plots/
data/